<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="collapse navbar-collapse" id="bootboard-nav">
                <ul class="nav nav-pills nav-stacked">
                    <li class="navigation-header">Control Panel</li>
                    <li class="active"><a href="#">Dashboard</a></li>
                    <li><a href="#">Applications</a></li>
                    <li><a href="#">Documentation</a></li>
                    <li><a href="#">Analytics</a></li>
                    <li><a href="#">Discussion</a></li>
                    <li><a href="#">Users</a></li>
                    <li class="navigation-header">Account</li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9">
            <!-- content //-->
        </div>
    </div>
</div>